body{
    display: flex;
    background: url("ferran-fusalba-rosello-CJbPHZH56lE-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    /* filter: blur(20px); */

}

figure{
    display: flex;
    flex-direction: column;
    width: max-content;
    justify-self: center;
}

img{
    height: auto;
    width: 350px;
}

figcaption{
    display: block;
    text-align: center;
    position: absolute;
    top:30%;
}

figcaption::before{
    content: ' ';
    padding: 100%;
    width:100%;
    /* height: inherit; */
    position: absolute;
    /* height: 100%; */
    background-color: lightgreen;

}