*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}




$primary-color:#efe8e8;
$tanciary-color:#1c9394;
$accent-color: #E08414;
$text-color:rgb(21, 25, 58);
$hover-color:rgba(21, 25, 58, 0.671);


$background-color:#467ce0;
$font-weight:( "regular": 100, "medium": 400, "bold": 700);




@media(max-width:500px){

    body{
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
    }


    #main_text_container{
        position: absolute;
        display: flex;
        flex: 2;
        height: auto;
        flex-direction: column;
        // background-color: red;
        box-shadow:none;
        width: 100%;
        z-index: 6;


        // *********title in the Header***********

        #title{

            display: inline-block;

            flex-direction: column;
            padding: 1em;
            height: max-content;
            width: max-content;
        

    
            p:nth-child(2){
            font-size: 35px;
            color: $text-color;
            font-family: montserrat;
            font-weight: map-get($font-weight, bold);
            text-align: initial;
        
            }

            // p > span{
                
                
            // }

            .emoji{
                font-size: 30px; 
                display: inline;
                
            }


            

            h1{
                display: inline;
                font-size:14px;
            
            }
            
            button{

                // background-color: $accent-color;
                // background:linear-gradient(to right, rgba(199, 79, 79, 0.904), rgba(9, 10, 63, 0.863));
                padding:1em;
                display: inline-block;
                position: absolute;
                right: 5px;
                top: 4em;
                z-index: 2;
                margin:0;
        
                font-size: 12px;
                width: 8em;
              
            }


            button:hover{
                width:7em;
            }
        }


        //*************pop_up*********************

        #pop_up{
            position: absolute;
            display: none;
            flex-direction: column;
            justify-content: space-between;
            background-color: $primary-color;
            padding: 2em;
            margin: 2em;
            height: max-content;
            align-items: center;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            // transform: translate(-100px -50px);
            box-shadow: 3px 4px 10px $text-color;
            z-index: 4;
        


            #close_button{
                padding: 5px;
                color: white;
                align-self: flex-end;
            }

            h2{
                font-size: 40px;
                border-bottom: 1px solid $text-color;
                width: 100%;
                text-align: center;
            }
        
    
            #contact_platform{
                display: flex;
                gap: 2em;
                padding: 1em;
                margin-top: 1em;

                

                .platform{


        

                    svg{
                        height: 2em;
                        transition: 1s .1s cubic-bezier(1, 0, 0, 1);
                        cursor: pointer;

                        path{
                            fill: $text-color;
                        }
                        

                    }



                    svg:hover{
                        padding: 1em;
                        border-radius: 50%;
                        box-shadow: 1px 1px 5px $text-color;
                        transition: .5s .1s cubic-bezier(1, 0, 0, 1);
        
                    }
                }
         
            }

        }

        // *********footer in the Header***********

        #footer{
            display: none;


        }

    }



// *****************Scroll SECTION*****************

    #scroll_section{
        flex-basis: auto;
        overflow-y:  scroll;
        scroll-behavior: smooth;
        // row-gap: 3em;
        display: flex;
        flex-direction: column;
        line-height: 1.5em;
        margin-top:10px;
    

// *******************done_projects***************

    #done_projects{
    padding:0 2em;
    

        #projects_card_wrapper{
            display: flex;
            flex-direction: column;
            gap: 1em;
            // overflow-y:scroll;
            overflow-x: hidden;


            .project-card{
                display:flex;
                flex-direction: column;
                width: auto;

        

                & > img{
                    object-fit: cover;
                    object-position: inherit;
                    
                
                }

                .project-card:nth-child(1){
                display: none;
                padding: 10em;
                // background:url('Profpic-.jpg');
                background-size: cover;
                background-repeat: no-repeat;
                background-position: top center;
                }
         

                .card_description{
                    background: white;
                    text-align: center;
                    height: auto;
                    padding: .5em 0;
                    border-radius:0 0 20px 20px;

                    button{
    
                    background: linear-gradient(to right, rgba(110, 18, 18, 0.76), rgba(19, 21, 148, 0.568));
                    padding:.5em 2em;
                    border-radius: 5px;
                    font-size: 18px;
                    font-family: Montserrat;
                    border-collapse: collapse;
                    color: $primary-color;
                    border: none;
                    transition: .5s;

                        &:hover{
                            width: 5em;

                        }

                    }
                }
            }
        }

    }


// ***************Services**********************

    #services{
        padding:2em;
        background: white;
        padding-right: 1em;
        backdrop-filter: drop-shadow(4px 4px 10px blue);
        display: block;
        // height: 100vh;
        // flex-direction: column; 
        
        #service_cards_wrapper{
            display: flex;
            flex-direction: column;
            gap: 2em;
        
            .service-card{
                display: flex;
                flex-direction: column;
                gap: 2em;
        
                    
                .card_description{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    gap:.5em;
                    padding-left: .5em;
    
                    p{
                        font-size: 15px;
    
                    }
    
                }

            }
        
            #service_card_one, #service_card_three{
                text-align: start
    
            }
    
            .card-row_reverse{
                flex-direction: column;
        
            }
    
            img{
    
                height: 200px;
                width: auto;
            }
        }
        
    }


//  ***************show_offs Section**********************


    #show_offs{

        padding:2em;

        span{
        font-weight: map-get($font-weight, medium);
        }

       #gallery{
         display: flex;
         gap: 3em;
         flex-direction: column;
       
   
           .img-container img{
               width:150px;
               height:auto ;
               object-fit: cover;
               object-position: center;
           

           }


       }


   }

    
    }

}