@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;500;700;800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Source+Serif+Pro:ital,wght@0,200;0,300;1,200;1,300;1,400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Reenie+Beanie&display=swap');

$primary-color:#efe8e8;
$tanciary-color:#1c9394;
$accent-color: #E08414;
$text-color:rgb(21, 25, 58);
$hover-color:rgba(21, 25, 58, 0.671);


$background-color:#467ce0;
$font-weight:( "regular": 100, "medium": 400, "bold": 700);



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{

    display: flex;
    flex-direction: row;
    font-family: Montserrat;
    color:$tanciary-color;
    height: 100vh;
    background-color: $primary-color;

}

span{

    font-weight: map-get($font-weight, medium );

}


// *******RIGHT SECTION*************



header{

// ***********header*************

    background-color:#ffff; 
    filter: drop-shadow(1px 1px 2px);
    padding: 0 3em;
    height: inherit;
    flex: auto;
    // flex-grow: ;


    // *******main_text_container**********

    #main_text_container{
        display :flex;
        height: inherit;
        flex-direction: column;

        // *********title in the Header***********

        #title{

            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 100%;

    
            p:nth-child(2){
            font-size: 90px;
            color: $text-color;
            font-family: montserrat;
            font-weight: map-get($font-weight, bold);
        
            }

            p > span{
                // margin-left:-.3em;
                font-weight: map-get($font-weight , regular );
            }

            h1{
                
                display: flex;
                flex-direction: row;
                font-size:20px;
                justify-content: flex-end;
            }
            
            button{

                background-color: $accent-color;
                padding:1em 2em;
                margin-top: 2em;
                font-size: 18px;
                font-family: Montserrat;
                border-collapse: collapse;
                color: $primary-color;
                border: none;
                width: max-content;
                display: flex;
                flex-direction: row;
                align-self: flex-end;

                
            }
        }

        // *********footer in the Header***********

        #footer{
            text-align: center;
            // padding-bottom: 2em;

            p{
                color: $text-color;
                font-size: 30px;
                font-family: 'Reenie Beanie', cursive;
            }


            #dev_figure1{
                display: flex;
                // background-color: coral;
                border-top: 1px solid $hover-color;
                border-width: 20;
                justify-content: center;
                gap: 2em;
                padding: 1em;
                padding-top:5px;
                margin-top:.5em;

                

                svg{
                    // height: auto;
                    width: 30px;
                    cursor: pointer;
                    fill: $hover-color ;
                   -webkit-backdrop-filter: drop-shadow(20%);


                    &:hover {
                    fill:$text-color;
                        color:$text-color;
                    }

                  

                  
                    
                }

                

            }
            
        }
    


    }

    
// *******end of header***********
}


// ************general styles**************

p{
    // font-family: 'Bree Serif', serif;
    font-family: 'Source Serif Pro', serif;
}



h2{
    margin-bottom: 1.5em;
    color: $text-color;
}

h3{
    color: $text-color;

}


// *****************LEFT SECTION*****************

#scroll_section{

    overflow-y:  scroll;
    scroll-behavior: smooth;
    row-gap: 2em;
    display: flex;
    flex-direction: column;
    line-height: 1.5em;
    // border: black 3px solid;

}


// *********about section*******************

#about_section{
    display: flex;
    flex-direction: column;
    // height: 100vh;
    row-gap: 1em;

    #about_main_content{

        padding-left: 2em;

    }


    #designer_figure{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        color: white;
        background-image: linear-gradient(to right, rgba(110, 18, 18, 0.76), rgba(19, 21, 148, 0.568)),
        url('Profpic-.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: bottom;
        background-attachment: fixed;
        // align-items: flex-end;
        height: 20em;


        nav{
            display:flex;
            gap:1em;
            color: white;
            background-color: $text-color;
            height: 3em;
            justify-content: flex-end;
            padding-right: 1em;
            align-items: center;
            opacity: 75%;

           & > p{
            //    opacity: 80%;
            font-family: Montserrat;
            font-size: 18px;
            cursor: pointer;

            font-weight: map-get($font-weight, medium );
            }

            p:nth-child(2){
                border: 2px solid $accent-color;
                padding: 5px;
                border-radius: 100px;
                font-size: 18px;
                font-family: Montserrat;
                color: $primary-color;
               opacity: 60%;

                

                &:hover{
                    opacity: 100%;

                }
            }
    
            
        }

       


        p{
            padding-left: 1em;
            font-family: 'Reenie Beanie', cursive;
            font-size:35px;
            span{
                color: $accent-color;
                font-weight: 900;
            }
        }
    }
    
 
}


// *******************done_projects***************

#done_projects{
    padding:0 2em;

    #projects_card_wrapper{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        // column-gap: 1em;


        .project-card{
            // flex-basis: 50%;
            // padding-top:15em;
            // margin-bottom: 3em;
            border-radius: 20px;
            // background-image: linear-gradient(to right, rgba(110, 18, 18, 0.76), rgba(19, 21, 148, 0.568)),
            // url('Svg/Portifolio_Project.png');
            // background-size: contain;
            // background-position: center;

            #flex_item2{

                // display: flex;
                // flex-direction: column;
                 img{
                    width: 100px;
                    height: 100px;

                }

            }
         

            .card_description{
                background: white;
                text-align: center;
                height: auto;
                padding: .5em 0;
                border-radius:0 0 20px 20px;


                button{
                background-color: $accent-color;
                padding:.5em 2em;
                margin-top: 1em;
                border-radius: 5px;
                font-size: 18px;
                font-family: Montserrat;
                border-collapse: collapse;
                color: $primary-color;
                border: none;

                }
            }
        }
    }

}


// ***************skills section**********************
#skill_container{
    display: flex;
    flex-direction: column;
    flex-basis: auto;
    font-family: Montserrat;
    padding-left: 2em;

   

        ul{
            line-height: 3em;
            // padding-left: 5em;

            li{
            margin: 1em;
            list-style-type: none;
            font-family: Montserrat;
            // padding:1em 3em;
            background: white;
            width:auto;
            margin-right: 5em;
            padding: .5em;

            
            .level-bar{
                height: 3px;
                margin-right: 50%;
                background: $text-color;
                border-radius: 50px;
                width: 100%;
            }

            li:nth-child(2){
                width: 20%;
            }

            // .level-bar:nth-child(2){
            //     width: 79%;
                
            }


            .level-bar:nth-child(4){
                width: 50%;
                
            }


            .level-bar:nth-child(5){
                width: 20%;
                
            }



            }
        }

    

// ***************Services**********************

#services{
    padding:2em;
    background: white;
    padding-right: 1em;
backdrop-filter: drop-shadow(4px 4px 10px blue);


    #service_cards_wrapper{
        display:flex;
        flex-direction: column;
        gap:5em;

        .service-card{
            display: flex;
            flex-direction: row;

            
            .card_description{
                display: flex;
                flex-direction: column;
                justify-content: center;
                gap:.5em;
                padding-left: 2em;
                // background: $primary-color;

            }
        }

        .card-row_reverse{
            flex-direction: row-reverse;
        }

        img{
            // flex-basis: 10%;
            height: 250px;
            width: auto;
        }
    }

}


// ***************Form Section**********************


#form_Section{
    display: flex;
    flex-direction: column;
    // padding-right: 1em;
    margin-right: auto;
    width: 100%;
    background-image: url("Svgs/contact_form.svg");
    // background-color: khaki;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    
    h2{
        color: $primary-color
    }
    
   

    .form-container{
        // display: flex;
        // flex-direction: row;
        padding: 2em;
        background: rgba(21, 25, 58, 0.3);
        backdrop-filter: blur(3px);
        height: 100%;
        width: inherit;

        form{
            
            // justify-self: center;
        
            z-index: 1;

            input , textarea{
                // border: none;
                border-collapse: collapse;
                // background-color: rgba(0, 0, 255, 0);
                fill:transparent;
                height: 2em;
                width: 90%;
                // line-height: .5em;
                margin-top: 1em;
                border-width:0 0 2px 0;
                color: white;
                font-size: 18px;
                font-weight: map-get($font-weight, medium );
                
                
                

            }

            textarea{
                padding: 1em;
                height: 10em;
            }

            button{
                background-color: $accent-color;
                padding:1em 2em;
                margin-top: 1em;
                font-size: 18px;
                font-family: Montserrat;
                border-collapse: collapse;
                color: $primary-color;
                border: none;
                
               
            }

            label{
                padding-bottom: 1em;
            }
        }

        #form_figure {

            height: inherit;
            flex: 1;

            img{
                width: 350px;
                // height: ;
                
            }

        }
    }


}
    

#show_offs{
    padding:2em;
    // background-image: url("Svgs/contact_form.jpg");


    span{
        font-weight: map-get($font-weight, medium);
    }
}



//  ***************Form Section**********************

    footer{
        background: $text-color;
        padding: 3em;
    }
        



