@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;500;700;800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Source+Serif+Pro:ital,wght@0,200;0,300;1,200;1,300;1,400&display=swap');

$primary-color:#efe8e8;
$tanciary-color:#1c9394;
$accent-color: #E08414;
$text-color:rgb(21, 25, 58);
$background-color:#467ce0;
$font-weight:( "regular": 100, "medium": 400, "bold": 700);




*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body{
    display: flex;
    flex-direction: row;
font-family: Montserrat;
color:$tanciary-color;
height: 100vh;
background-color: $primary-color;
}



// ********************main-container**************
header{
    background-color:#ffff; 
    padding: 0 3em;
    flex-basis: auto;
    height: 100vh;

    // min-width: max-content;
   


    #main_text_container{
        display :flex;
        height: inherit;
        flex-direction: column;
        justify-content: center;
        // align-items: stretch;
     

        #title{
    
            p:nth-child(2){
                font-size: 90px;
            color: $text-color;
            font-weight: map-get($font-weight, bold);
            
            }
            
            p > span{
                // margin-left:-.3em;
                font-weight: map-get($font-weight , regular );
            }
        
            h1{
                float: right;
                // display: flex;
                // flex-direction: row;
                // align-items: flex-end;
                font-size:20px
            }
        
        }
        
        #footer{
            flex-basis: auto;
           height: auto;
        }


    }



}






p{
    // font-family: 'Bree Serif', serif;
    font-family: 'Source Serif Pro', serif;
}



h2,h3{
    color: $text-color;
}




#scroll_section{
    overflow-y: scroll;
    scroll-behavior: smooth;
    // padding-left: 2em;
    display: flex;
    flex-basis: auto;
    flex-direction: column;
    
}


// *********about section*******************

#about_section{
    display: flex;
    flex-direction: column;
    // height: 100vh;
}


#designer_figure{
   display: flex;
    flex-basis: 40%;
    color: white;
   background-image: linear-gradient(to right, rgba(110, 18, 18, 0.76), rgba(19, 21, 148, 0.568)),
    url('Profpic-.jpg');
    background-size: cover;
    background-position: center;
    align-items: flex-end;
    padding-top: 12em;
}

figure p{
    padding-left: 1em;
}

 #designer_figure p span{
    color: $accent-color;
    font-weight: 900;
}

// #designer_figure img{
// // display: block;
// position:inherit;
// width: auto;
// height: 450px;
 
//  }


#about_main_content{
    // background-color: cadetblue;
    flex-basis: 60%;
    padding:2em;
    width: 90%;
    padding-bottom: 5em;
    line-height: 2em;
}


#wrapper{
    // background-color: #ffff;

    // overflow-x: auto;
    display: flex;
    flex-direction: row;
    gap: 1em;
    padding: 0 2em;
    // width: auto;
   

    
}

// .project-card{
//     flex-basis: 50%;
//     padding: 5em;
//     display:flex;
//     flex-direction: column;
// }

#flex_item1{
    padding: 5em;
    background-image: url("./dist/css/Svgs/Designer.svg");

}

#title{
 padding-left:2em;

}

.project-card img{
   
    // width: max-content;
    height: 200px;
}

